body
{
background-image:url("background2.jpg");
background-size: 2000px;
}
div.container
{
width:85%;
border:1px solid gray;
line-height:150%;
margin-right:auto;
margin-left:auto;
margin-top:25px;
background-color:white;
}

header,footer
{
clear:both;
text-align:center;
background-color: #47d147;
}

header img
{
width:100%;
vertical-align:middle;
}

footer
{
padding:10px;
font-family:"Comic Sans MS", cursive, sans-serif
}

nav 
{
width:auto;
text-align: center;
}

nav ul 
{
margin:0;
padding:0;
list-style-type:none;
}

nav ul li 
{
display:inline-block;
margin:0;
padding:6px 0;
}

nav a 
{  
display:block;
width:auto;
font-weight:bold;
color:green;
padding:6px;
text-decoration:none;
outline:0;	 
}


nav li:hover 
{  
background-color:lightblue;
}

nav a:hover 
{  
color:black;
}

article
{
width:500;
color:green;
float:left;
border:2px solid black;
margin-left:20px;
margin-right:20px;
text-align:center;
font-family:Times New Roman, Charcoal, sans-serif;
background-color: white;
background-position: center;
}

article table
{
margin:0;
margin-right:auto;
margin-left:auto;
border:3px solid;
width:75%;
border-color:green;
}

article td
{
border:3px solid;
border-color:green;
}
